.categoriesMovies {
    display: flex;
    margin-top: 24px;
    gap: 2rem;

    div {
        flex-grow: 1;
    }

    .sort-container {
        background-color: #312c3e;
        width: 100%;
        max-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-start;
        padding: 14px;

        button {
            background-color: transparent;
            border: none;
            color: #fefbd0;
            margin: 8px 12px;
            padding: 0;
            cursor: pointer;
            font-family: Oswald;
            font-size: 24px;
            display: inline-block;
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .categoriesMovies-list {
        gap: 24px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .movie {
            background-color: #312c3e;
            display: flex;
            align-items: center;
            gap: 24px;
            padding-right: 24px;

            .container {
                display: flex;
                align-items: center;
            }

            button {
                font-family: Oswald;
                font-size: 14px;
                margin-top: 10px;
                padding: 14px 50px;
                background-color: #DA2E1A;
                color: #fefbd0;
                border: none;
                border-radius: 28px ;
            }


            img {
                width: 200px;
            }

            h2 {
                font-size: 24px;
            }
        }
    }

    .placeholder-container {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        text-align: center;
    }
}