.footer {
  display: block;
  text-align: center;
  margin-top: 100px;

  .logo-footer {
    margin-top: 35px;
  }
  li {
    
    font-family: Oswald;
    font-size: 25px;
    margin: 50px;
    display: inline;
  }
  a {
    text-decoration: none;
    color: #FEFBD0;
    
  }
}
