.navigation {
  z-index: 999;
    background-color: #312c3e;
    position: sticky;
    top: 0;
    left: 0;
  
    a {
      margin: 10px;
      text-decoration: none;
      color: #fefbd0;
      font-family: Oswald;
    }

    input {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
      border-radius: 5px;
      outline: 0;
    }

    button {
      padding: 6px;
      margin-top: 8px;
      margin-left: 5px;
      font-size: 17px;
      border: none;
      border-radius: 5px;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
  }
  
  
  