.pre-footer {
  font-family: Oswald;
  margin-top: 50px;
  background-color: #1a1a1a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  @media screen and (max-width: 768px) {
    width: 100%;
    margin-bottom: 50px;
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 24px;
    width: calc(100% - 48px);
  }
  h2 {
    padding-top: 30px;
    text-align: center;
    font-size: 25px;
    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }
  h3 {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
  }
  img {
    height: auto;
    max-width: 500px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    @media screen and (max-width: 768px) {
      width: 200px;
    }
  }
}
