.slider {
  margin-top: 50px;
  width: 100%;

  h1 {
    font-size: 24px;
    font-family: Oswald;
    margin-bottom: 10px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #fefbd0;

    &:after {
      font-size: 25px;
    }
  }

  .movie {
    position: relative;

    img {
      max-width: 400px;
      width: 100%;
      filter: brightness(0.5) saturate(0.8);
    }

    .movie-container {
      padding: 1rem 3rem;
      position: absolute;
      top: 0;
      left: 0;
    }

    h2 {
      font-size: 20px;
      font-family: Oswald;
    }

    p {
      font-size: 12px;
    }

    button {
      font-family: Oswald;
      margin-top: 10px;
      background: #DA2E1A;
      padding: 8px 20px;
      border: 0;
      outline: none;
      color: #fefbd0;
      border-radius: 3px;

      svg {
        margin-right: 8px;
      }
    }
  }
}
