body {
  background-color: #1f1f1f;
  color: #fefbd0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 300px;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.header {
  padding: 50px;
  margin: 0 auto;
  text-align: center;
  font-family: Oswald;
  font-size: 50px;
}

hr {
  border-color: rgba(255,255,255,0.1);
  margin-top: 50px;
  margin-bottom: 50px;
}