@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto&display=swap");

@import "./reset.scss";
@import "./global.scss";
@import "./components/slider.scss";
@import "./components/footer.scss";
@import "./components/logo.scss";
@import "./components/navigation.scss";
@import "./components/movie.scss";
@import "./components/popularMovies.scss";
@import "./components/searchMovie.scss";
@import "./components/categoriesMovies.scss";
@import "./components/movieDetails.scss";
@import "./components/actor.scss";
@import "./components/heroslider.scss";
@import "./components/ficheacteur.scss";
@import "./components/prefooter.scss";